{% include 'layout/app.html' %} 

{% block content %}

<div>
    <h1>Preview Data</h1>
    
    {{ data_preview|safe }}
    
    {% if model %}
        <h1>Model has been created</h1>
        <a href="{% url 'model' pk %}">Go to Model Detail</a><br>
        <a href="{% url 'predict-model' %}">Go to predict</a>
    {% else %}
        <h1>Creating Model</h1>

        <h6>Select Label Class</h6>

        <form method="POST" action="{% url 'create-model' pk %}">
            {% csrf_token %}

            <select name="label_class" id="label_class">
                {% for header in headers %}
                    <option value="{{ header }}">{{ header }}</option>
                {% endfor %}
            </select>

            <button type="submit">Submit</button>
        </form>
    {% endif %}
</div>

{% endblock %}