{% include 'layout/app.html' %} 
{% load static %} 
{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-white text-center" style="background-color: #003285">
                    <h1 class="mb-0">Preview Data</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="data-preview">
                                    {{ data_preview|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if model %}
            <div class="card mt-4">
                <div class="card-body">
                    <h1 class="card-title">Model has been created</h1>
                    <div class="text-center">
                        <a href="{% url 'model' pk %}" class="btn btn-primary btn-lg" style="background-color: #003285;">Go to Model Detail</a>
                        <a href="{% url 'form' %}" class="btn btn-secondary">Go to predict</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card mt-4">
                <div class="card-body">
                    <h1 class="card-title">Creating Model</h1>
                    <h6>Select Label Class</h6>
                    <form method="POST" action="{% url 'create-model' pk %}">
                        {% csrf_token %}
                        <select name="label_class" id="label_class" class="form-control mb-3">
                            {% for header in headers %}
                            <option value="{{ header }}">{{ header }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-lg" style="background-color: #003285; color: white;">Submit</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
