{% include 'layout/app.html' %} 

{% load widget_tweaks %} 

{% block content %}

<div class="p-8 flex flex-col items-center">
	<h1 class="font-medium leading-tight text-4xl mt-0 mb-4">Upload Dataset</h1>

	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="mb-4">
			{{ form.title | add_label_class:"block mb-2 text-sm font-medium text-gray-900" }} 
			{% render_field form.title class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg h-8 w-full" %}
		</div>

		<div class="mb-8">
			{{ form.dataset | add_label_class:"block mb-2 text-sm font-medium text-gray-900" }} 
			{% render_field form.dataset class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full" %}
			<p>CSV up to 5MB</p>
			<p>Dataset numeric only</p>
		
			<!-- error message -->
			{% if form.dataset.errors %}
				<div class="text-danger">
					{{ form.dataset.errors }}
				</div>
			{% endif %}
		</div>

		<input type="submit" value="Submit" />
	</form>

	<a href="{% url 'list-dataset' %}">Uploaded Dataset</a>
</div>

{% endblock %}
